<div class="searcher-text mt-5 mb-4">
    REST  API  service  to  find  references  to specific concepts in the collection of identified ontologies and languages
</div>

<!-- <div class="api">
    <button (click)="getStatus()">Get Status</button>
    <br><br>
    <span>{{status}}</span>
</div> -->

<!-- <div class="row mb-1 search-input">
    <div class="col-9 offset">
        <input type="text" class="input input_button" [(ngModel)]="term" placeholder="delete">
    </div>

    <div class="col-3">
        <button type="submit" id="search-btn" name="search" value="Search" class="btn purple-btn btn-outline-warning" (click)="getRights()">
            <i class="fas fa fa-search gap-right"></i>
        </button>
    </div>
</div> -->
<div class="row mb-1 search-input">
    <input type="text" class="input input_button" [(ngModel)]="term" placeholder="delete">
    <button type="submit" id="search-btn" name="search" value="Search" class="btn purple-btn btn-outline-warning" (click)="getRights()">
        <i class="fas fa fa-search"></i>
    </button>
</div>

<div class="results-table" *ngIf="(results | json) != '{}'">
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>
                    Ontology Name
                </th>
                <th>
                    Element
                </th>
                <th>
                    Element Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of results">
                <th>
                    {{res.ontologyname}}
                </th>
                <td>
                    <a href={{res.element}} target="_blank">{{res.element}}</a>
                </td>
                <td>
                    {{res.elementdescription}}
                </td>
            </tr>
        </tbody>
    </table>
</div>