.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
 }
 
 .border-between > [class*='col-']:first-child:before {
    display: none;
 }

p {
    text-align: justify;
}

.center-results {
    text-align: center;
}

.searcher-text{
    text-align: justify;
}

.input_button {
    width: 90%;
    height: 35px;
    vertical-align: middle;
}

#search-btn {
    background-color: #9e1f65;
    border-color: #9e1f65;
    text-align: center;
    color: white;
    vertical-align: center;
    text-align: center;
}

#search-btn:hover {
    color: #9e1f65;
    background-color:white;
    border-width: medium;
}

.search-input {
    display: inline;
    text-align: center;
}