<div class="searcher-text mt-5 mb-4">
    REST  API  service  to  find  references  to specific concepts in the collection of identified ontologies and languages
</div>

<!-- <div class="api">
    <button (click)="getStatus()">Get Status</button>
    <br><br>
    <span>{{status}}</span>
</div> -->

<div class="row ml-2 mb-5 search-input">
    <input type="text" class="input input_button mr-4" [(ngModel)]="term" placeholder="delete">
    <button type="submit" id="search-btn" name="search" value="Search" class="btn purple-btn btn-outline-danger" (click)="getRights()">
        Search
    </button>
</div>

<div class="mt-5" [ngSwitch]="true">
    <p *ngSwitchCase="_array.isArray(results) && results.length < 1">No results were found!</p>
    <table *ngSwitchCase="_array.isArray(results) && results.length > 0" class="table table-sm table-bordered">
        <thead>
            <tr>
                <th class="center-results">
                    Ontology Name
                </th>
                <th class="center-results">
                    Element
                </th>
                <th class="center-results">
                    Element Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of results">
                <th class="center-results ontology-name" [ngSwitch]="true">
                    <div *ngSwitchCase="res.ontologyname.includes('gdprtext')">GDPRtEXT</div>
                    <div *ngSwitchCase="res.ontologyname.includes('gdprov')">GDPRov</div>
                    <div *ngSwitchCase="res.ontologyname.includes('cloud')">Cloud</div>
                    <div *ngSwitchCase="res.ontologyname.includes('func')">SPL</div>
                    <div *ngSwitchCase="res.ontologyname.includes('gconsent')">GConsent</div>
                    <div *ngSwitchCase="res.ontologyname.includes('splog')">SPLog</div>
                    <div *ngSwitchDefault class="uppercase">{{res.ontologyname}}</div>
                </th>
                <td class="element">
                    <a href={{res.element}} target="_blank">{{res.element}}</a>
                </td>
                <td class="element-description">
                    {{res.elementdescription}}
                </td>
            </tr>
        </tbody>
    </table>
</div>