.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
 }
 
 .border-between > [class*='col-']:first-child:before {
    display: none;
 }

p {
    text-align: justify;
}

.searcher-text{
    text-align: justify;
}

.input_button {
    width: 90%;
    height: 30px;
}

#search-btn {
    background-color: #9e1f65;
    border-color: #9e1f65;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
}

#search-btn:hover {
    color: white;
}

/* .search-input {
    display: inline;
} */