<footer class ="footer">
    <div class="container">
        <div class="row mt-3">
            <div class="col-1">
                <span class="euFlag">
                    <img src={{footer.imageSrc}} height="60" mr-1>
                </span>
            </div>
            <div class="col-6">
                <span>
                    This project has received funding from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 
                    <a class="author" href={{footer.protect.cordis}} target="_blank">813497</a>
                    <a class="twitter ml-2" href={{footer.protect.twitter}} target="_blank">
                        <fa-icon [icon]="faTwitterSquare"></fa-icon>
                    </a>
                </span>
            </div>
            <div class="col-3 offset-2">
                Last updated on {{footer.lastUpdate}} <br>
                Website developed by
                <a class="author" href={{footer.author.linkPersonalWebpage}} target="_blank">
                    {{footer.author.name}}
                </a>
            </div>
        </div>
    </div>
</footer>