.table {
    font-size: 13px;
    text-align: center;
}

.btn {
    font-size: 12px;
}

.button-wrapper {
    display: inline;
}

.plus-square {
    cursor: pointer;
}

.vertical-middle {
    vertical-align: middle;
}

.description {
    vertical-align: middle;
    text-align: justify;
    min-width: 240px;
    padding-right: 15px;
    padding-left: 15px;
}

.name {
    vertical-align: middle;
    min-width: 100px;
}

.domain {
    vertical-align: middle;
    min-width: 50px;
}

.resources {
    min-width: 120px;
    vertical-align: middle;
}

.documentation {
    min-width: 130px;
    vertical-align: middle;
}

.diagram {
    vertical-align: middle;
    color: #ff7400;
}

.diagram:hover {
    color: white;
}

.purple-btn {
    border-color: #9e1f65;
    color: #9e1f65;
}

.purple-btn:hover {
    background-color: #9e1f65;
    color: white;
}

.orange-btn {
    border-color: #ff7400;
    color: #ff7400;
}

.orange-btn:hover {
    background-color: #ff7400;
    color: white;
}