.description {
    height: 100px;
}

.button-wrapper {
    display: inline;
}

.idiom {
    text-transform: uppercase;
}

.w3c-working-draft {
    background-color: #005a9c;
    color: white;
}

.w3c-working-draft:hover {
    background-color: #004f88;
}

.cc-four {
    background-color: #00b2d5;
    color: white;
}

.cc-four:hover {
    background-color: #008eaa;
}