<div class="page-container mb-7">
    <div class="page">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center">
                    {{obligation.Label}}
                </h5> 
                <p class="mt-3 comment-text">
                    {{obligation.Comment}}
                </p>
                <div [ngSwitch]="obligation.Id">
                    <code *ngSwitchCase="'1'">
                        <div class="col-12 gdprif">
                            gdprif:JC
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:LiabilityOfJointController</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            odrl:informingParty [ a <span class="gdprtext">gdprtext:JointController</span>, odrl:Party ] ;<br>
                            odrl:informedParty [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I31</span>, <span class="gdprif">gdprif:I32</span>, <span class="gdprif">gdprif:I33</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="gdprif">gdprif:ContractBetweenJointControllers</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchDefault>TO DO!</code>
                </div>   
            </div>
        </div>
    </div>   
</div>