<div class="page-container mb-7">
    <div class="page">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center">
                    {{obligation.Label}}
                </h5> 
                <p class="mt-3 comment-text">
                    {{obligation.Comment}}
                </p>
                <div [ngSwitch]="obligation.Id">
                    <code *ngSwitchCase="'1'">
                        <div class="col-12 gdprif">
                            gdprif:JC
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:LiabilityOfJointController</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            odrl:informingParty [ a <span class="gdprtext">gdprtext:JointController</span>, odrl:Party ] ;<br>
                            odrl:informedParty [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I31</span>, <span class="gdprif">gdprif:I32</span>, <span class="gdprif">gdprif:I33</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="gdprif">gdprif:ContractBetweenJointControllers</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'2'">
                        <div class="col-12 gdprif">
                            gdprif:CPr
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:AppointmentOfProcessors</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:permission [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Permission ;<br>
                            odrl:contractedParty [ a <span class="dpv">dpv:DataProcessor</span>, odrl:Party ] ;<br>
                            odrl:contractingParty [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:grantUse ;<br>
                            odrl:target <span class="gdprif">gdprif:I6</span>, <span class="gdprif">gdprif:I12</span>, <span class="gdprif">gdprif:I17</span>, <span class="gdprif">gdprif:I34</span>, <span class="gdprif">gdprif:I35</span>, <span class="gdprif">gdprif:I36</span>, <span class="gdprif">gdprif:I37</span>, <span class="gdprif">gdprif:I38</span>, <span class="gdprif">gdprif:I39</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="gdprif">gdprif:ContractBetweenControllerProcessor</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'3'">
                        <div class="col-12 gdprif">
                            gdprif:ROPA-DC
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:MaintainRecordsOfProcessingActivities</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataProtectionAuthority</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I1</span>, <span class="gdprif">gdprif:I2</span>, <span class="gdprif">gdprif:I3</span>, <span class="gdprif">gdprif:I4</span>, <span class="gdprif">gdprif:I5</span>, <span class="gdprif">gdprif:I6</span>, <span class="gdprif">gdprif:I9</span>, <span class="gdprif">gdprif:I10</span>, <span class="gdprif">gdprif:I11</span>, <span class="gdprif">gdprif:I17</span>, <span class="gdprif">gdprif:I20</span>, <span class="gdprif">gdprif:I31</span>, <span class="gdprif">gdprif:I32</span>, <span class="gdprif">gdprif:I37</span>, <span class="gdprif">gdprif:I40</span>, <span class="gdprif">gdprif:I41</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="gdprif">gdprif:ComplianceMonitoring</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'4'">
                        <div class="col-12 gdprif">
                            gdprif:ROPA-DP
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:MaintainRecordsOfProcessingActivities</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataProtectionAuthority</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataProcessor</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I1</span>, <span class="gdprif">gdprif:I2</span>, <span class="gdprif">gdprif:I3</span>, <span class="gdprif">gdprif:I4</span>, <span class="gdprif">gdprif:I5</span>, <span class="gdprif">gdprif:I10</span>, <span class="gdprif">gdprif:I20</span>, <span class="gdprif">gdprif:I36</span>, <span class="gdprif">gdprif:I40</span>, <span class="gdprif">gdprif:I41</span>, <span class="gdprif">gdprif:I42</span>, <span class="gdprif">gdprif:I43</span>, <span class="gdprif">gdprif:I44</span>, <span class="gdprif">gdprif:I45</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="gdprif">gdprif:ComplianceMonitoring</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'5'">
                        <div class="col-12 gdprif">
                            gdprif:NDB
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:ReportDataBreach</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I5</span>, <span class="gdprif">gdprif:I17</span>, <span class="gdprif">gdprif:I37</span>, <span class="gdprif">gdprif:I40</span>, <span class="gdprif">gdprif:I46</span>, <span class="gdprif">gdprif:I47</span>, <span class="gdprif">gdprif:I48</span>, <span class="gdprif">gdprif:I49</span>, <span class="gdprif">gdprif:I50</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="gdprif">gdprif:PersonalDataBreach</span> ;
                        </div>
                        <div class="col-11 offset-1">
                            ] ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            odrl:informingParty [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:informedParty [ a <span class="dpv">dpv:DataProtectionAuthority</span>, odrl:Party ] ;<br>
                        </div>
                        <div class="col-11 offset-1">
                            ] ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            odrl:informingParty [ a <span class="dpv">dpv:DataProcessor</span>, odrl:Party ] ;<br>
                            odrl:informedParty [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:consequence [
                        </div>
                        <div class="col-9 offset-3">
                            odrl:informingParty [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:informedParty [ a <span class="dpv">dpv:DataProtectionAuthority</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchDefault>TO DO!</code>
                </div>   
            </div>
        </div>
    </div>   
</div>