<accordion [isAnimated]="true">
    <div *ngFor="let ex of ppl?.examples" [ngSwitch]="true">
		<div *ngSwitchCase="ex.type.includes('sample')">
			<accordion-group heading='{{ex.title}}'>
				<div class="description mb-2" *ngFor='let desc of ex.description'>
					- {{desc}}
				</div>
	
				<div class='example-buttons' *ngFor='let solution of ex.solutions' [ngSwitch]="solution.language">
					<button *ngSwitchCase="'RDF'" type='button' class="btn btn-secondary btn-sm mb-2" (click)='handleRDF(solution.id, solution.link)'>
						{{solution.language}}
					</button>
					<button *ngSwitchCase="'XML'" type='button' class="btn btn-secondary btn-sm mb-2" (click)='handleXML(solution.id, solution.link)'>
						{{solution.language}}
					</button>
					<button *ngSwitchDefault type='button' class="btn btn-secondary btn-sm mb-2">
						{{solution.language}}
					</button>
					
				</div>
	
				<div class='example-text col-12' *ngFor='let solution of ex.solutions' [ngSwitch]="solution.language">
					<div *ngIf='activeId==solution.id'>
						<div *ngSwitchCase="'RDF'">
							&lt;rdf:RDF
							<div *ngFor="let rdf of rdfItems">
								{{rdf}}
							</div>
							&lt;/rdf:RDF&gt;
						</div>
						<div *ngSwitchCase="'XML'">
							<div *ngFor="let xml of xmlItems">
								{{xml}}
							</div>
						</div>
						<div *ngSwitchDefault>
						</div>
					</div>
				</div>
			</accordion-group>
		</div>
		<div *ngSwitchCase="ex.type.includes('use-case')">
			<accordion-group #group>
				<span accordion-heading class="heading">
					<img src={{ex.heading.imageSrc}} height="30" class="float-right">
					{{ex.heading.title}}
				</span>

				<div class="bold">
					Company / Institution:
					<a href="{{ex.institution.link}}" target="_blank">{{ex.institution.name}}</a>
				</div>

				<div>
					<div class="bold">
						Specifications:
					</div>
					<div *ngFor="let spec of ex.specifications" class="col-12 specifications">
						- {{spec.name}}
						<div class="buttons mt-1">
							<div class="button-wrapper" *ngFor="let res of spec.resources">
								<a class="btn btn-outline-warning btn-sm mr-1" href={{res.link}} target="_blank" role="button">
									{{res.type}}
								</a>
							</div>
						</div>
					</div>
				</div>

			</accordion-group>
		</div>
	</div>
</accordion>