<div class="gdprif-text mt-5 mb-4">
    The <a href="https://protect.oeg.fi.upm.es/def/gdprif.html" target="_blank">GDPR Information Flows (GDPRIF) ontology</a> 
    aims to provide a tool to refer to the rights and obligations established in the 
    <a href="https://eur-lex.europa.eu/eli/reg/2016/679/oj" target="_blank">General Data Protection Regulation (GDPR)</a> 
    in terms of information flows that occur between GDPR stakeholders. 
    In this context, an information flow refers to information that must be transmitted from one 
    stakeholder to the other so that a right or obligation can be invoked and granted. 
    Therefore, <a href="https://protect.oeg.fi.upm.es/def/gdprif.html" target="_blank">GDPRIF</a> 
    provides a way to model the relationships between GDPR stakeholders, the identified items of information 
    that need to be exchanged, GDPR rights and obligations, and also to specify the flows of information 
    and the events that trigger such flows.
</div>

<div class="row mt-5">
    <a role="button" class="btn btn-lg btn-block onto-button" href="https://protect.oeg.fi.upm.es/def/gdprif.html" target="_blank">Go to GDPRIF's documentation</a>
</div>

<div class="mt-4">
    <figure>
        <img src="./assets/gdprif/information_flow.png" alt='missing' class="center"/>
        <figcaption>
            GDPR’s rights and obligations as information flows between GDPR stakeholders. The bidirectional arrows represent a right or 
            obligation in which a request for information and respective response is expected, while the 
            unidirectional arrows represent only a request or notification and no reply is expected.
        </figcaption>
    </figure>
</div>

<div class="mt-6">
    <figure>
        <img src="./assets/gdprif/base.png" alt='missing' class="center"/>
        <figcaption>
            Top level entities of the GDPRIF ontology.
        </figcaption>
    </figure>
</div>