<h3 class="mt-5 mb-4">
    GDPR Information Flows (GDPRIF) ontology
</h3>

<div class="gdprif-text mb-4">
    The <a href="https://protect.oeg.fi.upm.es/def/gdprif/index.html" target="_blank">GDPR Information Flows (GDPRIF) ontology</a> 
    aims to provide a tool to refer to the rights and obligations established in the 
    <a href="https://eur-lex.europa.eu/eli/reg/2016/679/oj" target="_blank">General Data Protection Regulation (GDPR)</a> 
    in terms of information flows that occur between GDPR stakeholders. 
    In this context, an information flow refers to information that must be transmitted from one 
    stakeholder to the other so that a right or obligation can be invoked and granted. 
    Therefore, <a href="https://protect.oeg.fi.upm.es/def/gdprif/index.html" target="_blank">GDPRIF</a> 
    provides a way to model the relationships between GDPR stakeholders, the identified items of information 
    that need to be exchanged, GDPR rights and obligations, and also to specify the flows of information 
    and the events that trigger such flows.
</div>

<div class="row">
    <a role="button" class="btn btn-lg btn-block onto-button" href="https://protect.oeg.fi.upm.es/def/gdprif/index.html" target="_blank">Go to GDPRIF's documentation</a>
</div>

<div class="gdprif-text mt-4">
    GDPRIF’s rights and obligations are modelled as ODRL policies complemented by 
    <a href="https://dpvcg.github.io/dpv/" target="_blank">DPV</a>, 
    <a href="https://dpvcg.github.io/dpv-gdpr/" target="_blank">DPV-GDPR</a> and 
    <a href="https://openscience.adaptcentre.ie/ontologies/GDPRtEXT/deliverables/docs/ontology" target="_blank">GDPRtEXT</a>.
    Below there is a list of the modelled policies, click on them so that they are displayed in a side span.
</div>

<div class="row mt-4 mb-4">
    <div class="col-5">
        <app-rights-list [rights]="rights" (setActive)="handleSetActive($event)"></app-rights-list>
    </div>
    <div class="col-7" *ngIf="activeRight">
        <app-rights-preview [right]="activeRight"></app-rights-preview>
    </div>
</div>

<div class="row mb-7">
    <div class="col-5">
        <app-obligations-list [obligations]="obligations" (setActiveObl)="handleSetActiveObl($event)"></app-obligations-list>
    </div>
    <div class="col-7" *ngIf="activeObligation">
        <app-obligations-preview [obligation]="activeObligation"></app-obligations-preview>
    </div>
</div>

<div class="row mt-4"> </div>