<div class="page-container mb-7">
    <div class="page">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center">
                    {{right.Label}}
                </h5> 
                <p class="mt-3 comment-text">
                    {{right.Comment}}
                </p>
                <div [ngSwitch]="right.Id">
                    <code *ngSwitchCase="'1'">
                        <div class="col-12 gdprif">
                            gdprif:RI1
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:RightToBasicInformationAboutProcessing</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I1</span>, <span class="gdprif">gdprif:I2</span>, <span class="gdprif">gdprif:I3</span>, <span class="gdprif">gdprif:I4</span>, <span class="gdprif">gdprif:I5</span>, <span class="gdprif">gdprif:I6</span>, <span class="gdprif">gdprif:I7</span>, <span class="gdprif">gdprif:I8</span>, <span class="gdprif">gdprif:I9</span>, <span class="gdprif">gdprif:I10</span>, <span class="gdprif">gdprif:I11</span>, <span class="gdprif">gdprif:I12</span>, <span class="gdprif">gdprif:I13</span>, <span class="gdprif">gdprif:I14</span>, <span class="gdprif">gdprif:I15</span>, <span class="gdprif">gdprif:I16</span>, <span class="gdprif">gdprif:I17</span>, <span class="gdprif">gdprif:I19</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="dpv">dpv-gdpr:A13</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'2'">
                        <div class="col-12 gdprif">
                            gdprif:RI2
                        </div>
                        <div class="col-11 offset-1">
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I1</span>, <span class="gdprif">gdprif:I2</span>, <span class="gdprif">gdprif:I3</span>, <span class="gdprif">gdprif:I4</span>, <span class="gdprif">gdprif:I5</span>, <span class="gdprif">gdprif:I6</span>, <span class="gdprif">gdprif:I7</span>, <span class="gdprif">gdprif:I8</span>, <span class="gdprif">gdprif:I9</span>, <span class="gdprif">gdprif:I10</span>, <span class="gdprif">gdprif:I11</span>, <span class="gdprif">gdprif:I12</span>, <span class="gdprif">gdprif:I13</span>, <span class="gdprif">gdprif:I14</span>, <span class="gdprif">gdprif:I16</span>, <span class="gdprif">gdprif:I17</span>, <span class="gdprif">gdprif:I18</span>, <span class="gdprif">gdprif:I19</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="dpv">dpv-gdpr:A14</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'3'">
                        <div class="col-12 gdprif">
                            gdprif:RA
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:RightToAccessPersonalData</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I6</span>, <span class="gdprif">gdprif:I9</span>, <span class="gdprif">gdprif:I11</span>, <span class="gdprif">gdprif:I12</span>, <span class="gdprif">gdprif:I14</span>, <span class="gdprif">gdprif:I16</span>, <span class="gdprif">gdprif:I17</span>, <span class="gdprif">gdprif:I18</span>, <span class="gdprif">gdprif:I20</span>, <span class="gdprif">gdprif:I21</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="dpv">dpv-gdpr:A15</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'4'">
                        <div class="col-12 gdprif">
                            gdprif:RR
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:RightToRectification</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I22</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="dpv">dpv-gdpr:A16</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'5'">
                        <div class="col-12 gdprif">
                            gdprif:RE
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:RightOfErasure</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I9</span>, <span class="gdprif">gdprif:I24</span>, <span class="gdprif">gdprif:I25</span>, <span class="gdprif">gdprif:I26</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:isAllOf ;<br>
                            odrl:rightOperand (<span class="dpv">dpv-gdpr:A17</span>, <span class="gdprif">gdprif:I23</span>) ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'6'">
                        <div class="col-12 gdprif">
                            gdprif:RRP
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:RightToRestrictProcessing</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I25</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:isAllOf ;<br>
                            odrl:rightOperand (<span class="dpv">dpv-gdpr:A18</span>, <span class="gdprif">gdprif:I27</span>) ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'7'">
                        <div class="col-12 gdprif">
                            gdprif:RN
                        </div>
                        <div class="col-11 offset-1">
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I9</span>, <span class="gdprif">gdprif:I25</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="dpv">dpv-gdpr:A19</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ] ;
                        </div>
                        <div class="col-10 offset-2">
                            odrl:consequence [
                        </div>
                        <div class="col-9 offset-3">
                            odrl:informingParty [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:informedParty [ a <span class="dpv">dpv:Recipient</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'8'">
                        <div class="col-12 gdprif">
                            gdprif:RDP
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:RightOfDataPortability</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I21</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="dpv">dpv-gdpr:A20</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ] ;
                        </div>
                        <div class="col-10 offset-2">
                            odrl:consequence [
                        </div>
                        <div class="col-9 offset-3">
                            odrl:attributingParty [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:attributedParty [ a <span class="dpv">dpv:Recipient</span>, odrl:Party ] ;<br>
                            odrl:action odrl:grantUse ;<br>
                            odrl:refinement [
                        </div>
                        <div class="col-8 offset-4">
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:isAllOf;<br>
                            odrl:rightOperand (<span class="dpv">dpv-gdpr:A20</span>, <span class="gdprif">gdprif:I28</span>) ;
                        </div>
                        <div class="col-9 offset-3">
                            ]
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'9'">
                        <div class="col-12 gdprif">
                            gdprif:RO
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:RightToObjectToProcessing</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I29</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="dpv">dpv-gdpr:A21</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchCase="'10'">
                        <div class="col-12 gdprif">
                            gdprif:RDM
                        </div>
                        <div class="col-11 offset-1">
                            rdfs:seeAlso <span class="gdprtext">gdprtext:RightToNotBeEvaluatedThroughAutomatedProcessing</span> ;<br>
                            a odrl:Policy ;<br>
                            odrl:obligation [
                        </div>
                        <div class="col-10 offset-2">
                            a odrl:Obligation ;<br>
                            <span class="gdprif">gdprif:isRequestedBy</span> [ a <span class="dpv">dpv:DataSubject</span>, odrl:Party ] ;<br>
                            <span class="gdprif">gdprif:isAnsweredBy</span> [ a <span class="dpv">dpv:DataController</span>, odrl:Party ] ;<br>
                            odrl:action odrl:inform ;<br>
                            odrl:target <span class="gdprif">gdprif:I30</span> ;<br>
                            odrl:constraint [
                        </div>
                        <div class="col-9 offset-3">
                            a odrl:Constraint ;<br>
                            odrl:leftOperand odrl:event ;<br>
                            odrl:operator odrl:eq ;<br>
                            odrl:rightOperand <span class="dpv">dpv-gdpr:A22</span> ;
                        </div>
                        <div class="col-10 offset-2">
                            ]
                        </div>
                        <div class="col-11 offset-1">
                            ] .
                        </div>
                    </code>
                    <code *ngSwitchDefault>TO DO!</code>
                </div>
                <div class="mt-2">
                    <a class="btn btn-outline-danger btn-sm float-right download-btn" href={{right.PathToFile}} download={{right.ProposedFileName}} target="_blank"><b>Download</b></a>
                </div>
            </div>
        </div>
    </div>   
</div>