<h3 class="languages-title mt-3 mb-4">
        {{table.caption}}
</h3>

<table class="table table-sm table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col" class="colnames" *ngFor="let colname of table.columns">
                {{colname}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ppl of privacyPolicyLanguages">
            <th scope="row" class="vertical-middle">
                {{ppl.id}}
            </th>
            <td class="name">
                {{ppl.name}}
            </td>
            <td class="description">
                <div>
                    {{ppl.description}}
                    <fa-icon class="plus-square clickable mr-3" (click)="handleClick(ppl)" [icon]="faPlusSquare"></fa-icon>
                </div>
            </td>
            <td class="rdf">
                <div class="button-wrapper mr-1" *ngFor="let rdf of ppl?.rdf" [ngSwitch]="true">
                    <a *ngSwitchCase="rdf.type.includes('XML')" class="btn btn-outline-warning btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                    <a *ngSwitchCase="rdf.type.includes('RDF')" class="btn btn-outline-success btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                    <a *ngSwitchCase="rdf.type.includes('DTD')" class="btn btn-outline-info btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                    <a *ngSwitchDefault class="btn btn-dark btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                </div>
            </td>
            <td class="documentation">
                <div class="button-wrapper mr-1" *ngFor="let doc of ppl?.documentation" [ngSwitch]="doc.type">
                    <a *ngSwitchCase="'HTML'" class="btn btn-outline-warning btn-sm mb-1" href={{doc.link}} target="_blank" role="button">{{doc.type}}</a>
                    <a *ngSwitchCase="'DOC'" class="btn btn-outline-success btn-sm mb-1" href={{doc.link}} target="_blank" role="button">{{doc.type}}</a>
                    <a *ngSwitchDefault class="btn btn-dark btn-sm mb-1" href={{doc.link}} target="_blank" role="button">{{doc.type}}</a>
                </div>
            </td>
            <td class="diagram">
                <div class="button-wrapper mr-1" *ngFor="let diag of ppl?.diagrams" [ngSwitch]="diag.type">
                    <a *ngSwitchCase="'legal-basis'" class="btn btn-outline-warning btn-sm mb-1" href={{diag.link}} role="button">{{diag.type}}</a>
                    <a *ngSwitchCase="'purposes'" class="btn btn-outline-success btn-sm mb-1" href={{diag.link}} role="button">{{diag.type}}</a>
                    <a *ngSwitchDefault class="btn btn-dark btn-sm mb-1" href={{diag.link}} role="button">{{diag.type}}</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<app-languages-description-modal #languagesDescriptionModal [ppl]="activeJob"></app-languages-description-modal>