<h2 class="languages-title mt-3 mb-4">
        {{languages.title}}
</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col" *ngFor="let colname of languages.columns">
                {{colname}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ppl of languages.privacyPolicy">
            <th scope="row">
                {{ppl.id}}
            </th>
            <td>
                {{ppl.name}}
            </td>
            <td>
                {{ppl.description}}
            </td>
            <td>
                {{ppl.creation}}
            </td>
            <td>
                {{ppl.lastUpdate}}
            </td>
            <td>
                {{ppl.idiom}}
            </td>
            <td>
                <p *ngFor="let rdf of ppl?.rdf">
                    {{rdf.type}}
                </p>
            </td>
            <td>
                <p *ngFor="let doc of ppl?.documentation">
                    {{doc.type}}
                </p>
            </td>
            <td>
                <p *ngFor="let ex of ppl?.examples">
                    {{ex.type}}
                </p>
            </td>
            <td>
                <p *ngFor="let diag of ppl?.diagrams">
                    {{diag.type}}
                </p>
            </td>
        </tr>
    </tbody>
</table>