<h3 class="languages-title mt-3 mb-4">
        {{table.caption}}
</h3>

<table class="table table-sm table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col" class="colnames" *ngFor="let colname of table.columns">
                {{colname}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ppl of privacyPolicyLanguages">
            <th scope="row" class="vertical-middle clickable" (click)="handleClick(ppl)">
                {{ppl.id}}
            </th>
            <td class="name clickable" (click)="handleClick(ppl)">
                {{ppl.name}}
            </td>
            <td class="description clickable" (click)="handleClick(ppl)">
                <div>
                    {{ppl.description}}
                </div>
            </td>
            <td class="domain">
                <div *ngFor='let dom of ppl?.domain'>
                    <a class="btn btn-outline-warning btn-sm mb-1" href={{dom.dbPedia}} target="_blank" role="button">{{dom.name}}</a>
                </div>
            </td>
            <td class="rdf">
                <div class="button-wrapper mr-1" *ngFor="let rdf of ppl?.rdf" [ngSwitch]="true">
                    <a *ngSwitchCase="rdf.type.includes('XML')" class="btn btn-outline-warning btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                    <a *ngSwitchCase="rdf.type.includes('RDF')" class="btn btn-outline-success btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                    <a *ngSwitchCase="rdf.type.includes('DTD')" class="btn btn-outline-info btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                    <a *ngSwitchCase="rdf.type.includes('JSON-LD')" class="btn btn-outline-primary btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                    <a *ngSwitchCase="rdf.type.includes('Turtle')" class="btn btn-outline-danger btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                    <a *ngSwitchCase="rdf.type.includes('N-Triples')" class="btn btn-outline-secondary btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                    <a *ngSwitchCase="rdf.type.includes('N3')" class="btn btn-outline-dark btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                    <a *ngSwitchDefault class="btn btn-dark btn-sm mb-1" href={{rdf.link}} target="_blank" role="button">{{rdf.type}}</a>
                </div>
            </td>
            <td class="documentation">
                <div class="button-wrapper mr-1" *ngFor="let doc of ppl?.documentation" [ngSwitch]="true">
                    <a *ngSwitchCase="doc.type.includes('HTML') || doc.type.includes('Vocab') || doc.type.includes('Model')" class="btn btn-outline-warning btn-sm mb-1" href={{doc.link}} target="_blank" role="button">{{doc.type}}</a>
                    <a *ngSwitchCase="doc.type.includes('GitHub')" class="btn btn-outline-success btn-sm mb-1" href={{doc.link}} target="_blank" role="button">{{doc.type}}</a>
                    <a *ngSwitchCase="doc.type.includes('PDF')" class="btn btn-outline-danger btn-sm mb-1" href={{doc.link}} target="_blank" role="button">{{doc.type}}</a>
                    <a *ngSwitchDefault class="btn btn-dark btn-sm mb-1" href={{doc.link}} target="_blank" role="button">{{doc.type}}</a>
                </div>
            </td>
            <td class="diagram">
                <div class="button-wrapper mr-1" *ngFor="let diag of ppl?.diagrams" [ngSwitch]="true">
                    <a *ngSwitchCase="diag.type.includes('xsddiagram')" class="btn btn-outline-warning btn-sm clickable" role="button" (click)="handleClickDiag(diag)">{{diag.name}}</a>
                    <a *ngSwitchCase="diag.type.includes('spec')" class="btn btn-outline-warning btn-sm clickable" role="button" (click)="handleClickDiag(diag)">{{diag.name}}</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<app-languages-description-modal #languagesDescriptionModal [ppl]="activeJob"></app-languages-description-modal>
<app-diagram-modal #diagramModal [diag]="activeDiag"></app-diagram-modal>