<h3 class="languages-title mt-3 mb-4">
    {{table.caption}}
</h3>

<table class="table table-sm table-hover table-bordered">
<thead>
    <tr>
        <th scope="col" class="colnames" *ngFor="let colname of table.columns">
            {{colname}}
        </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let ppl of ontologies">
        <th scope="row" class="vertical-middle clickable" (click)="handleClick(ppl)">
            {{ppl.id}}
        </th>
        <td class="name clickable" (click)="handleClick(ppl)">
            {{ppl.name}}
        </td>
        <td class="description clickable" (click)="handleClick(ppl)">
            <div>
                {{ppl.description}}
            </div>
        </td>
        <td class="legal">
            <div class="button-wrapper" *ngFor="let legal of ppl?.legalBasis">
                <a class="btn btn-outline-info btn-sm mr-1" href={{legal.link}} target="_blank" role="button">
                    <span class="idiom">
                        <img src={{legal.country}} height="12" mr-1> {{legal.name}}
                    </span>
                </a>
            </div>
        </td>
        <td class="resources">
            <div class="button-wrapper mr-1" *ngFor="let res of ppl?.resources" [ngSwitch]="true">
                <a *ngSwitchCase="res.type.includes('XML')" class="btn btn-outline-warning btn-sm mb-1" href={{res.link}} target="_blank" role="button">{{res.type}}</a>
                <a *ngSwitchCase="res.type.includes('RDF')" class="btn btn-outline-success btn-sm mb-1" href={{res.link}} target="_blank" role="button">{{res.type}}</a>
                <a *ngSwitchCase="res.type.includes('DTD')" class="btn btn-outline-info btn-sm mb-1" href={{res.link}} target="_blank" role="button">{{res.type}}</a>
                <a *ngSwitchCase="res.type.includes('JSON-LD')" class="btn btn-outline-primary btn-sm mb-1" href={{res.link}} target="_blank" role="button">{{res.type}}</a>
                <a *ngSwitchCase="res.type.includes('Turtle')" class="btn btn-outline-danger btn-sm mb-1" href={{res.link}} target="_blank" role="button">{{res.type}}</a>
                <a *ngSwitchCase="res.type.includes('N-Triples')" class="btn btn-outline-secondary btn-sm mb-1" href={{res.link}} target="_blank" role="button">{{res.type}}</a>
                <a *ngSwitchCase="res.type.includes('N3')" class="btn btn-outline-dark btn-sm mb-1" href={{res.link}} target="_blank" role="button">{{res.type}}</a>
                <a *ngSwitchDefault class="btn btn-dark btn-sm mb-1" href={{res.link}} target="_blank" role="button">{{res.type}}</a>
            </div>
        </td>
        <td class="documentation">
            <div class="button-wrapper mr-1" *ngFor="let doc of ppl?.documentation" [ngSwitch]="true">
                <a *ngSwitchCase="doc.type.includes('HTML') || doc.type.includes('Vocab') || doc.type.includes('Model')" class="btn btn-outline-warning btn-sm mb-1" href={{doc.link}} target="_blank" role="button">{{doc.type}}</a>
                <a *ngSwitchCase="doc.type.includes('GitHub')" class="btn btn-outline-success btn-sm mb-1" href={{doc.link}} target="_blank" role="button">{{doc.type}}</a>
                <a *ngSwitchCase="doc.type.includes('PDF')" class="btn btn-outline-danger btn-sm mb-1" href={{doc.link}} target="_blank" role="button">{{doc.type}}</a>
                <a *ngSwitchDefault class="btn btn-dark btn-sm mb-1" href={{doc.link}} target="_blank" role="button">{{doc.type}}</a>
            </div>
        </td>
        <td class="diagram">
            <div class="button-wrapper mr-1" *ngFor="let diag of ppl?.diagrams" [ngSwitch]="true">
                <a *ngSwitchCase="diag.type.includes('xsddiagram')" class="btn btn-outline-warning btn-sm clickable" role="button" (click)="handleClickDiag(diag)">{{diag.name}}</a>
                <a *ngSwitchCase="diag.type.includes('spec')" class="btn btn-outline-warning btn-sm clickable" role="button" (click)="handleClickDiag(diag)">{{diag.name}}</a>
            </div>
        </td>
    </tr>
</tbody>
</table>

<app-description-modal #descriptionModal [ppl]="activeJob"></app-description-modal>
<app-diagram-modal #diagramModal [diag]="activeDiag"></app-diagram-modal>