<h3 class="mt-5 mb-4">
    Analysis of Ontologies and Policy Languages to Represent Information Flows in GDPR
</h3>

<div class="mt-4">
    <figure>
        <img src="./assets/architecture.png" alt='missing' class="center"/>
    </figure>
</div>

<div class="home-text mt-5 mb-4">
    <a href="https://protect-network.eu/about/" target="_blank">PROTECT</a> 
    is a 
    <a href="https://ec.europa.eu/programmes/horizon2020/en/what-horizon-2020" target="_blank">
        H2020
    </a> 
    <a href="https://ec.europa.eu/programmes/horizon2020/en/h2020-section/marie-sklodowska-curie-actions" target="_blank">
        Marie Skłodowska-Curie Action (MSCA)
    </a> 
    Innovation Training Network (ITN) with the aim of developing new ways of empowering users of digital services 
    to understand the risks they take when they go online and offering new 
    tools that enable companies to incorporate data protection into their digital services.
    <br><br>
    In this context, we did an analysis of the existing privacy policy languages and data protection vocabularies that can  
    be used to represent the information items required by GDPR rights and obligations.
    These pieces of information can be something as simple as defining a <i>controller's identity</i> or more complex 
    concepts such as a <i>data protection impact assessment</i>.
    <br><br>
    More information about the surveyed languages and ontologies can be found on the <a href="/sota/languages">LANGUAGES</a> and  
    <a href="/sota/ontologies">ONTOLOGIES</a> pages, respectively.
    For each analysed solution, there is a brief description of the language or ontology
    and also links to additional documentation and available RDF serializations.
    There is more information about the authors of the solutions, when it was
    first created and last updated, about the projects and / or research groups
    where it was developed and, when available, examples of implementations
    that are using it.
    <br><br>
    A REST API service, to find references to specific concepts in the collection of ontologies and languages
    that have been identified, is available at the <a href="/sota/searcher">TERM SEARCHER</a> page.
    The main objective of this service is to give users a platform where they can search for ontologies that model
    privacy-related terms such as processing activities as <i>derive</i> or <i>disclose</i> or personal data categories as 
    <i>email address</i> or <i>gender</i>.
    <br><br>
    A lightweight ontology, the GDPR Information Flows (GDPRIF), specified to model the relationships
    between GDPR stakeholders, informational items and GDPR rights and obligations and represent information about the 
    flows of information and the events that trigger said flows, is available at the <a href="/sota/gdprif">GDPRIF</a> page.
</div>