.title {
    font-size: 15px;
    font-weight: 700;
    text-align: justify;
}

.list-group-item {
    height: 1.75cm;
    border-color: #9e1f65;
    border-width: 3px;
    border-bottom: 0px;
}

.list-group-item:last-child {
    border-bottom: 3px solid #9e1f65 !important;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #9e1f65;
    border-width: 3px;
}